[Unit]
Description=Ambassador Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ambassador --config /etc/ambassador/ambassador.toml
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target